<div class="container">
  <h1>Welcome to Notification Trigger App</h1>
  <p>To SignUp and Trigger notificaion Click on below link. Notification will trigger after successfully signUp.</p>
  <%= link_to 'Sign Up', new_registration_path, class: 'signup-link' %>
</div>